Q1. Create one variable containing following type of data:

(i) string

(ii) list

(iii) float

(iv) tuple

In [1]:
string_variable = "Hello, world!"

In [2]:
list_variable = [1, 2, 3, 4, 5]

In [3]:
float_variable = 3.14

In [5]:
tuple_variable = (9, 10, 11)

Q2. Given are some following variables containing data:

(i) var1 = ‘ ‘

(ii) var2 = ‘[ DS , ML , Python]’

(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

(iv) var4 = 1.

What will be the data type of the above given variable.

var1 = ' '
var2 = '[DS, ML, Python]'
var3 = ['DS', 'ML', 'Python']
var4 = 1.

print(type(var1))  
print(type(var2))  
print(type(var3)) 
print(type(var4))

Q3. Explain the use of the following operators using an example:

(i) /

(ii) %
(iii) //

(iv) **

In [8]:
a = 10
b = 3

division_result = a / b
modulus_result = a % b
floor_division_result = a // b
exponentiation_result = a ** b

print("Division Result:", division_result)                
print("Modulus Result:", modulus_result)                  
print("Floor Division Result:", floor_division_result)    
print("Exponentiation Result:", exponentiation_result)

Division Result: 3.3333333333333335
Modulus Result: 1
Floor Division Result: 3
Exponentiation Result: 1000

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [10]:
my_list = [10, "Hello", 3.14, True, [1, 2, 3], (4, 5, 6), {"name": "Rahul", "age": 30}, None, "Python", False]

for element in my_list:
    print("Element:", element)
    print("Data Type:", type(element))
    print()

Element: 10
Data Type: <class 'int'>

Element: Hello
Data Type: <class 'str'>

Element: 3.14
Data Type: <class 'float'>

Element: True
Data Type: <class 'bool'>

Element: [1, 2, 3]
Data Type: <class 'list'>

Element: (4, 5, 6)
Data Type: <class 'tuple'>

Element: {'name': 'Rahul', 'age': 30}
Data Type: <class 'dict'>

Element: None
Data Type: <class 'NoneType'>

Element: Python
Data Type: <class 'str'>

Element: False
Data Type: <class 'bool'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [19]:
A = int(input("Enter the value of A: "))
B = int(input("Enter the value of B: "))

count = 0

if B != 0:
    if A == 1 and B == 1:
        count = 1
    else:
        while A % B == 0:
            A = A // B
            count += 1

    if count > 0:
        print(f"A is purely divisible by B. It can be divided {count} times.")
    else:
        print("A is not divisible by B without remainder.")
else:
    print("Error: Division by zero is not possible.")

Enter the value of A: 1
Enter the value of B: 0
Error: Division by zero is not possible.

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [20]:
my_list = [2, 7, 9, 12, 15, 18, 21, 25, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75]

for element in my_list:
    if element % 3 == 0:
        print(f"{element} is divisible by 3.")
    else:
        print(f"{element} is not divisible by 3.")

2 is not divisible by 3.
7 is not divisible by 3.
9 is divisible by 3.
12 is divisible by 3.
15 is divisible by 3.
18 is divisible by 3.
21 is divisible by 3.
25 is not divisible by 3.
27 is divisible by 3.
30 is divisible by 3.
33 is divisible by 3.
36 is divisible by 3.
39 is divisible by 3.
42 is divisible by 3.
45 is divisible by 3.
48 is divisible by 3.
51 is divisible by 3.
54 is divisible by 3.
57 is divisible by 3.
60 is divisible by 3.
63 is divisible by 3.
66 is divisible by 3.
69 is divisible by 3.
72 is divisible by 3.
75 is divisible by 3.

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

Answer-
         
         Immutable data types cannot be changed once assigned, while mutable data types can be modified directly.

         Examples of immutable data types include integers, floats, booleans, strings, and tuples, while examples of mutable                   data types include lists, dictionaries, and sets.

In [22]:
# Lists are mutable
numbers = [1, 2, 3, 4, 5]
print(numbers)

# Modifying the list
numbers[0] = 10
print(numbers)

[1, 2, 3, 4, 5]
[10, 2, 3, 4, 5]

In [24]:
# Strings are immutable
name = "Alice"
print(name)

# Attempting to modify the string
name[0] = 'B'  # Raises a TypeError: 'str' object does not support item assignment

Alice

TypeError: 'str' object does not support item assignment